  <div class="viewer-wrapper">
    <iframe
      src="<%= request&.base_url %>/uv.html#?manifest=<%= manifest(@document['dao_ssi'])%>/video&config=<%= request&.base_url %>/uv_config.json" 
      allowfullscreen="true" 
      frameborder="0" 
    ></iframe>
  </div>

