  <%= PulUvRails::UniversalViewer.script_tag %>
  <div class="viewer-wrapper">
    <iframe
      src="<%= request&.base_url %>/uv.html#?manifest=https://wellcomelibrary.org/iiif/b17502792/manifest&config=<%= request&.base_url %>/uv_config.json" 
      allowfullscreen="true" 
      frameborder="0" 
    ></iframe>
  </div>

